<h1> Customer List </h1>

<ul>
   <% @customers.each do |customer| %>
           <li><%= link_to customer.name, customer_path(customer) %></li>
       <% end %>
   </ul>

<%= link_to "Add a Customer Below", new_customer_path%>
