<h1> Customer Page Show Page </h1>
<br> Customer Name
<%=@customer.name%>
<br> Phone Number
<br>
<%=@customer.phone_number%>
<br> Address
<%=@customer.address%>
<br>
<%= link_to "Create a New Rental", new_customer_rental_path(@customer)%>



=<h5> Current Rented Equipment</h5>