<ul>
       <% @rentals.each do |rental| %>
       <li><%=rental.equipment.name%>
        <%= link_to "Check In", edit_customer_rental_path(rental.customer.id, rental.id) %>
         </li>
        
       <% end %>
   </ul>